pyttsx3==2.90
comtypes==1.1.11
SpeechRecognition==3.8.1
pyautogui==0.9.53
requests==2.27.1
PyQt5==5.15.4
pyqt5-tools==5.15.4.3.2
# Install pyaudio using:
# conda install -n VIRTUALENV_NAME -c anaconda pyaudio
pyaudio==0.2.11